:root {
    --button-color: #d76700;
}

/* Задаём параметры контейнера */
.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Inter', serif;
    font-size: 16px;

}

/* Стиль верхней менюшки */
#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Стиль игрового поля */
#field {
    display: flex;
    flex-direction: column;

    border: solid 5px #111111;
    box-shadow: 0 0 3px black;

    height: 80vh;
    width: 80vh;
}

/* Стиль клеточек на игровом поле */
.cell-row {
    display: flex;
    flex-direction: row;

    height: inherit;
}

.cell {
    width: 100%;
    height: 100%;

    transition: background-color .2s ease-out;
}

.cell[type='start'], .cell[type='end'] {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.cell[type='start']:hover,
.cell[type='start']:active,
.cell[type='end']:hover,
.cell[type='end']:active {
    transform: scale(1.25);
}

/* Стиль разных элементов */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.margin-small {
    margin: 5px 0;
}

.margin-middle {
    margin: 10px 0;
}

.margin-big {
    margin: 25px 0;
}

button {
    font-family: 'Inter', serif;
    font-size: 16px;

    background-color: var(--button-color);
    color: white;

    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
    text-shadow: 0 0 3px black;

    padding: 5px 10px;

    transition:
            filter .1s linear,
            transform .1s ease;

    cursor: pointer;
}

button:hover {
    filter: brightness(125%);
    transform: scale(1.05);
}

input[type='checkbox'] {
    -webkit-appearance: none;

    background: white;
    border-radius: 20px;
    box-shadow: 0 0 2px black;

    width: 20px;
    height: 20px;

    transition: background-color 0.1s ease;
}

input[type='checkbox']:checked {
    background: var(--button-color);
}

input[type='range'] {
    -webkit-appearance: none;

    background: var(--button-color);
    border-radius: 10px;
    box-shadow: 0 0 1px black;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;

    height: 10px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;

    background: var(--button-color);
    filter: brightness(125%);
    border-radius: 15px;
    box-shadow: 0 0 2px black;

    width: 16px;
    height: 16px;
    margin: -3px 0 0 0;

    transition:
            filter .1s linear,
            transform .1s ease;
}

input[type='range']::-webkit-slider-thumb:hover {
    filter: brightness(150%);
    transform: scale(1.2);
}

/* Вспомогательные классы */
.text-neon {
    --neon-color: #ffcd03;
    text-shadow:
            0 0 5px black,
            0 0 10px black,
            0 0 15px black,
            0 0 20px var(--neon-color),
            0 0 30px var(--neon-color),
            0 0 40px var(--neon-color);
}