/*
Основное:
*/

* {
    box-sizing: border-box;
    font-weight: normal;
    font-size: large;
}

body {
    margin: 0;
    background: rgb(226, 232, 221);
    overflow: hidden;
}

button:hover {
    cursor: pointer;
}

#myCanvas {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #697268;
    background: url('https://kartinkin.net/uploads/posts/2021-07/1627408186_14-kartinkin-com-p-pikselnie-teksturi-zemli-krasivo-17.png');
}

#extraCanvas1, #extraCanvas2 {
    display: none;
}


/*
Шапка:
 */

header {
    background: rgb(78, 83, 64);
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px black;
}

#lobbyButton, #showSettingsModalWindow, #showGraphicsModalWindow, #changeVersion, #driveId {
    box-shadow: inset -3px 3px 5px grey, inset 3px -3px 5px grey, -3px 3px 5px #383737, 3px -3px 5px #383737;
    background: rgb(149, 163, 164);
    border: 2px solid rgb(105, 114, 104);
    border-radius: 8px;
    margin-inline: 1%;
    width: 15%;
    height: 60px;
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
}

#lobbyButton:hover, #showSettingsModalWindow:hover, #showGraphicsModalWindow:hover, #changeVersion:hover, #driveId:hover {
    background: rgb(140, 158, 158);
}

#headerButtonsContainer {
    display: flex;
    justify-content: center;
}

#changeVersion {
    width: 10%;
    position: absolute;
    top: 20px;
    right: 5%;
}


/*
Панель меню:
*/

#buttonsContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 0;
}

#clear, #food, #walls, #ants, #erase {
    box-shadow: inset -1px 1px 5px darkgrey, inset 1px -1px 5px darkgrey, -1px 1px 5px darkgrey, 1px -1px 5px darkgrey;
    border-radius: 10px;
    border-color: rgb(142, 161, 161);
    border-style: solid;
    border-width: 1px;
    background: rgb(183, 209, 218);
    margin: 1%;
    width: 10%;
    height: 40px;
}

#clear:hover, #food:hover, #walls:hover, #ants:hover, #erase:hover {
    background: rgb(178, 202, 211);
}

#brushWidthDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

input {
    -webkit-appearance: none;
    width: 20%;
    height: 20px;
    border-radius: 10px;
    background: rgb(183, 209, 218);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(78, 83, 64);
    cursor: pointer;
}

input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(78, 83, 64);
    cursor: pointer;
}

input:hover {
    opacity: 1;
}


/*
Модальное окно:
*/

.modalWindow {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 400px;
    padding: 15px;
    border: 3px solid rgb(183, 209, 218);
    border-radius: 10px;
    color: #777;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(226, 232, 221);
}

.extraDivForModalWindows {
    margin: 15px;
}

.shadow {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.modalWindow:target {
    display: block;
}

.close {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(150, 162, 148);
    color: #333;
    background: rgb(202, 212, 202);
    box-shadow: inset -1px 1px 5px rgb(168, 182, 166), inset 1px -1px 5px rgb(168, 182, 166), -1px 1px 5px rgb(168, 182, 166), 1px -1px 5px rgb(168, 182, 166);
}

.shadow:target {
    display: block;
}

.close:hover, .save:hover {
    background: rgb(191, 203, 191)
}

.save {
    width: 120px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(150, 162, 148);
    background: rgb(202, 212, 202);
    box-shadow: inset -1px 1px 5px rgb(168, 182, 166), inset 1px -1px 5px rgb(168, 182, 166), -1px 1px 5px rgb(168, 182, 166), 1px -1px 5px rgb(168, 182, 166);
}

.divForSaveButton {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.divForCloseButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.modalWindow input {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.modalWindow output {
    position: absolute;
    right: 30%;
}


/*
ВОЛНА В ДРАЙВ РЕЖИМЕ
*/

#wave1,
#wave2,
#wave3 {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250vw;
    height: 250vw;
    margin-left: -125vw;
    transform-origin: 50% 50%;
    background-color: transparent;
    border-radius: 38% 42%;
    box-shadow: inset 0 0 10vw rgba(255, 0, 255, 0.8);
    animation: spin 16s infinite linear;
    mix-blend-mode: multiply;
}

#wave2 {
    width: 260vw;
    height: 240vw;
    transform-origin: 49% 51%;
    border-radius: 40% 38%;
    box-shadow: inset 0 0 10vw rgba(255, 255, 0, 0.8);
    animation: spin 13s infinite linear;
}

#wave3 {
    width: 255vw;
    height: 245vw;
    transform-origin: 51% 49%;
    border-radius: 48% 42%;
    box-shadow: inset 0 0 10vw rgba(0, 255, 255, 0.8);
    animation: spin 10s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
