html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background: white;

    font-family: 'Inter', serif;
    font-size: 16px;
}

/* Стиль верхней менюшки */
.top {
    background: #9fb4ce;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    box-shadow: 0 0 2px black;

    height: 5%;
}

/* Стиль контента */
.content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    align-items: center;
    height: 100%;
}

.window {
    background: wheat;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    box-shadow: 0 0 2px black;

    height: 90%;
    width: 90%;
    max-height: 90%;
}

.area {
    position: absolute;
    z-index: 1;

    height: 100%;
    width: 100%;
}

/* Дерево */

.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}

.tree,
.tree ul {
    display: table;
}

.tree ul {
    width: 100%;
}

.tree li {
    display: table-cell;
    padding: 2em 0;
    vertical-align: top;
}

.tree li:before {
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: .7em;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree span {
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em .5em;
    position: relative;
    user-select: none;
}

.tree ul:before,
.tree span:before {
    outline: solid 1px #666;
    content: "";
    height: 1.2em;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -.5em;
}

.tree span:before {
    top: -1.3em;
}

.tree>li {
    margin-top: 0;
}

.tree>li:before,
.tree>li:after,
.tree>li>span:before {
    outline: none;
}

/* Дерево решений */

.tree .root {
    border: solid .1em #620101;
    border-radius: 1em;

    background-color: #ea7373;
}

.tree .node {
    border: solid .1em #666;
    border-radius: .1em;

    background-color: #e7b279;
}

.tree .leaf {
    border: solid .1em #002277;
    border-radius: 5em;

    background-color: #a8c0ef;
}

.tree span {
    transition:
            background-color .2s ease,
            border .2s ease;
}

.tree [mark] {
    transition:
            background-color 0s,
            border 0s;
}

.tree [mark='highlight'] {
    border: solid .1em #ffcc00;
    background-color: #ffe082;
}

.tree [mark='right'] {
    border: solid .1em #005b1d;
    background-color: #45982b;
}

.tree [mark='wrong'] {
    border: solid .1em #600a0a;
    background-color: #932a2a;
}

.tree li:before[mark] {
    outline: solid 1px #795f00;
}