#mainButton{
    width: 10%;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 10px;
}
#mainText{
    margin: 50px;
    width: 50%;
    height: 500px;
    position: relative;
    left: 35%;
    transform: translate(-50%, 0);
}