#mainButton{
    margin-block: 2%;
    width: 10%;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#textsContainer{
    position: center;
    text-align: center;
    margin: 20px;
}
textarea{
    margin-inline: 20px;
    width: 35%;
    height: 500px;
    resize: none;
}