html,
body {
    height: 100%;
    margin: 0;
}

/* Задаём глобальные параметры */
body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Делаем границу вокруг игрового поля */
canvas {
    border: 1px solid white;
}